{% extends "base.html" %}

{% block header %}
    <title>Groups</title>
{% endblock %}


{% block content %}
    <div class="header">
        <div style="font-size: 35px">Группы</div>
    </div>

    <div class="buttons_container_groups">
        {% for group in groups %}
            <div class="button_inner">
                <a class="button btn btn-primary custom-a-size" href="http://{{ host }}/today/{{ group.name }}">{{ group.name }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}