{% extends "base.html" %}

{% block header %}
    <title>Today</title>
{% endblock %}

{% block content %}
    <div class="header_buttons">
        <a class="button btn btn-primary custom-a-size" href="{% url 'render_groups' %}">Группы</a>
    </div>

    <div style="font-size: 35px">
        <div>День: {{ weekday_name }}</div>
        <div>Четность: {{ parity_name }}</div>
        <div>Группа: {{ group }}</div>
    </div>

    <div class="buttons_container">
        <div class="button_inner">
            <a class="button btn btn-primary custom-a-size" href="{% url 'render_today' group_name=group %}">Сегодняшний день</a>
        </div>
        <div class="button_inner">
            <a class="button btn btn-primary custom-a-size" href="{% url 'render_date' group_name=group date=next_date %}">Следующий день</a>
        </div>
    </div>

    <table class="table custom__table">
        <thead>
            <tr>
                <th>Время начала</th>
                <th>Пара</th>
                <th>Аудитория</th>
                <th>Преподаватель</th>
            </tr>
        </thead>

        <tbody>
            {% for exercise in exercises %}
            <tr>
                <td>{{ exercise.time_start }}</td>
                <td>{{ exercise.name }}</td>
                <td>{{ exercise.auditory }}</td>
                <td>{{ exercise.teacher }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}